.red, .red a, .red a:visited {color:red}
a, a:visited {color:blue}
.red a:hover {font-weight:bold}
p, table {max-width:1000px; margin:auto; padding-bottom:20px}
.c {text-align:center; font-weight:bold}
table {border-collapse:collapse}
td {border:solid 1px black; padding:5px}
td:first-child {white-space:nowrap}
td:last-child {font-style:italic}
